*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
body{
    background-color: #4D4D4D;
    color: white;
}


.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #AEAEAE;
    transition: width 200ms ease;
}


.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item{
    width: 100%;
}



form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: whitesmoke;
}

form button {
    color: #d88771;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    background: #d88771;
    color: white;
}

.chart-container{
    height: 600px;
    width: 600px;
}

a{
    color: white;
}

.graph{
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }

    .navbar:hover .link-text{
        display: none;
    }
    .navbar:hover {
        property: initial;
    }
    
}

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        right: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }


    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }
}